.input-block{
    display: flex;
    flex-direction: column;
}

.input-block label{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.input-block input{
    height: 4.5rem;
    width: 100%;
}

.input-block input,
.input-block textarea{
    border: 1px solid #a9a9a9ff;
    padding: 2rem 2rem;
    border-radius: 1.5rem;
    color: #6b6b6b;
    background-color: #f8f8f8;
}

.input-block input:focus,
.input-block textarea:focus{
    outline: none;
    /* border: 0.15rem solid #379683ff; */
}

#open-on-weekends{
    display: flex;
    /* width: 100%; */
    flex-direction: row;
}

#addimage-btn{
    font-size: 3rem;
    color: #05386b;
}

form button{
    height: 4.5rem;
    /* margin: 2rem 0; */
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #a9a9a9ff;
}


/* specific photo url */
.photos-url{
    height: 5rem;
    margin-bottom: 1rem;
}
.photos-url img{
    position: relative;
    right: -441px;
    top: -40px;
    cursor: pointer;
    
}

/* specific buttons yes no */
#open-on-weekends button{
    width: 50%;
    color: #05386b;
    font-weight: bold;
}

#open-on-weekends button:nth-child(1){
    background-color: #5cdb95;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

#open-on-weekends button:nth-child(2){
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

button[type="submit"]{
    width: 100%;
    background-color: #05386b;
    color: white;
}
