#page-landing{
    /* background-color: #5cdb95ff; */
    background: linear-gradient(329.54deg, #5cdb95ff 0%, rgb(65, 182, 118) 100%) no-repeat;
    min-height: 100vh;
    text-align: center;
    display: flex;
}

#container{
    margin: auto;
    width: min(90%, 112rem);
}

/* desktop version */
@media (min-width: 760px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #container{
        padding: 5rem 2rem;
        /* background: url('../images/kids.png') no-repeat 80% / clamp(30rem, 54vw,56rem); */
        /* background: url('../images/kids.png') no-repeat 100%; */
        z-index: 1;
        /* height: 65vh; */
    }

    .logo{
        width: 18rem;
    }

    #location{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    main{
        margin-top: 6.5rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        line-height: 1.5;
    }

    main h1{
        font-size: 7rem;
        text-align: left;
    }

    main p{
        font-size: 3rem;
        text-align: left;
        margin-top: 2rem;
        width: 50%;
    }

    .forward-btn a{
        
        bottom: 25rem;
        align-self: flex-end;
        
        cursor: pointer;
        text-decoration: none;
    }

    .forward-btn button{
        position: absolute;
        background-color: #05386b;
        border: 5px solid white;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        
        /* right: 100rem; */
        bottom: 25rem;
        right: 20vw;
    }
    
    .forward-btn button:hover{
        background-color: #115598ff;
    }

    .forward-btn img{
        height: 50%;
    }

    #bottom-page img{
        
        position: absolute;
        bottom: 14%;
        width: 40vw;
        margin-left: 30vw;
    }

    #bottom-page{
        background: #05386bff;
        height: 20vh;
        border-top: 5px solid white;
        bottom: 0%;
    }
}